{% extends 'layout.html' %}
{% block content %}
{% load static %}
{% include 'nav.html' %}
<div class="container">
    <div class="container px-2 row justify-content-center">
        <div class="col-md-8">
            <!-- Top Profile -->
            <div class="py-5 mx-5 mb-2  d-flex justify-content-evenly align-items-start">
                <!-- Profile Picture -->
                <div class="img-div mx-0">
                    <img src="{% static "profile.jpg" %}" alt="" class="img-resp">
                </div>
                <!-- Side Description -->
                <div class="d-flex flex-column align-items-start justify-content-center">
                    <div class="">
                        <p class="lead">Username: {{profile.user.username}}</p>
                    </div>
                    <div class="d-flex align-items-start justify-content-center">
                        <p class="lead">
                            Hoood:{%if profile.neighbourhood.name%}{{profile.neighbourhood.name}}{%else%}Homeless{%endif%}
                        </p>
                    </div>
                    <div class="btn-group dropend">
                        <button type="button" class="btn btn-primary  btn-sm dropdown-toggle" data-bs-toggle="dropdown"
                            aria-expanded="false" data-bs-auto-close="outside">
                            Change Neigbourhood
                        </button>
                        <form class="dropdown-menu px-4 py-3 float" method="post">
                            {% csrf_token %}
                            <select class="form-select mb-3" id="sele" multiple aria-label="multiple select example"
                                name="q">
                                {% for neigbourhood in neigbourhoods %}
                                <option value="{{neigbourhood.id}}">{{neigbourhood.name}}</option>
                                {% endfor %}
                            </select>
                            <button type="submit" class="btn btn-primary">Update</button>
                        </form>
                    </div>
                </div>
            </div>
            <!-- Below Profile -->
            <div class="container border-top d-flex flex-column  align-items-center">


                <p class="h4">Posts</p>

            </div>
            <div class="row my-3">
                {% for post in posts %}
                <div class="col-md-4">
                    <div class="card" style="width: 20rem;">
                        <img class="card-img-top" src="{{ post.image.url }}" alt="Card image" style="width:100%">
                        <div class="card-body">
                            <h4 class="card-title">{{ post.title }}</h4>
                            <p class="card-text">{{ post.content }}</p>
                            <!-- <a href="#" class="btn btn-primary">See Profile</a> -->
                        </div>
                    </div>
                </div>
                {% empty %}
                <p class="lead text-center"> Add some <a href="{% url 'post'%}" class="link-secondary"> posts </a> to
                    your neighbourhood
                </p>
                {% endfor %}
            </div>

        </div>
    </div>
</div>
</div>
{% endblock content %}