{% load static %}
<nav class="navbar sticky-top">
    <a class="navbar-brand mx-5" href="{%url 'home'%}">
      <p class="d-inline-block logoText  fst-italic">Watch-Guide
      </p>
  </a>
  
    <nav class="navbar navbar-expand-md navbar-light">

        <button class="navbar-toggler "  type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"`
            aria-controls="navbarNav" aria-expanded="true" aria-label="Toggle navigation">

            <span class="navbar-toggler-icon"></span>
        </button>

  <div class="collapse navbar-collapse " id="navbarNav">
      
  
    <ul class="navbar-nav mx-5 ">
        <form action="" role="search" class="mx-5 my-1">
            <input class="form-control me-2 " type="search" placeholder="Search for businesses..." aria-label="Search" name="name">
        </form>
        <li class="nav-item ">
            <a class="nav-link text-dark" href="">Post</a>
        </li> 
        <li class="nav-item ">
            <a class="nav-link text-dark" href="">Businesses</a>
        </li> 
        <li class="nav-item ">
            <a class="nav-link text-dark" href="">Contacts</a>
        </li> 
        <li class="nav-item ">
            <a class="nav-link text-dark" href="{% url 'account' %}">Profile</a>
        </li>
        <li class="nav-item ">
            <a class="nav-link text-dark" href="{% url 'logout' %}">Logout</a>
        </li>
       
    </ul>

</div>
       
    </nav>

  </nav>