{% extends 'layout.html' %}
{% block content %}
{% load static %}
<div class="container d-flex align-items-center">

    <div class="container text-center d-flex flex-column justify-content-center align-items-center">
        <form method="post" class="needs-validation" novalidate>
            {%csrf_token%}
            {{form}}
            <input type="submit" class="btn btn-primary w-75 mt-2 " value="Submit">
        </form>
    </div>

    <div class="container">
        <img src="{%static 'register.svg'%}" alt="" height="100" width="100" />
    </div>
</div>

{% endblock content %}